* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 150%;
}

article {
  border: 2px solid #0c0;
  border-radius: 0.5em;
  padding: 1em;
}

h1 {
  margin: 0;
  font-size: x-large;
}